.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-form {
  background-color: #E2F9B8;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-shadow: -1px 2px 28px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 28px -9px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 28px -9px rgba(0,0,0,0.75);
  margin-top: 100px;
  margin-bottom: 200px;
}
.login-text {
  margin-right: 370px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}
.input {
  padding: 10px;
  margin-bottom: 10px;
}
.login-button {
  background-color: #939F5C;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 5px;
}
.login-button:hover {
color: white;
background-color: #D16014;
border: 1px solid #8694B8;
cursor: pointer;
}
.register-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.register-link:hover {
  color: #D16014;
}

/* appear on page load */
.fade-appear {
  opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}